# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/

# VS Code
.vscode/

# Logs
logs/
*.log

# Output
output/

# Distribution
build/
dist/
*.egg-info/

# Cache
.pytest_cache/
.mypy_cache/

# Windows
Thumbs.db
Desktop.ini