# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# VS Code
.vscode/

# Logs
logs/*.log

# Output
output/

# Windows
Thumbs.db
Desktop.ini

# Python cache
.pytest_cache/

# Distribution
dist/
build/
*.spec